@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', system-ui;
  }
h1, h2,h3, h4, h5, h6 {
  color: #4a5568;
  line-height: 1.625;
  font-size: 1.25rem;
  font-weight: 700;
  }
.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
body {
  max-width: 100%;
  overflow-x: hidden;
}
.container {
  padding: 96px 0;
}
.purple {
  color: #6415ff;
  letter-spacing: 1.6px;
}
.row__narrow {
  width: 100%;
  margin: 0 auto;
}
.btn__menu {
  background-color: transparent;
  font-size: 40px;
  text-align: center;
  border: none;
  display: none;
}
.menu__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
justify-content: center;
align-items: center;
border-color: #242424;
display: none;
}
.menu--open .menu__backdrop {
  display: flex;
}
.menu__links {
flex-direction: column;
align-items: center;
display: none;
}
.menu__list {
  padding: 32px 0;
}
.menu__link {
  font-size: 40px;
  color: white;
}
.btn__menu--close {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 8px;
  cursor: pointer;
color: white;
}
#landing__flex--container {
  padding: 96px 96px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__row--row {
  padding-top: 32px;
  max-width: 1280px;
  margin: 0 auto;
}
.nav__links {
  display: flex;
  list-style: none;
  text-decoration: none;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  color: #000000e0;
}
.nav__link {
  padding: 4px;
  text-decoration: none;
  margin: 2px 4px;
}
.nav__links > li:nth-child(1) {
  font-size: 14px;
  font-weight: 600;
  position: relative;
  transition: all 300ms;
}
.nav__links > li:nth-child(2) {
  font-size: 14px;
  font-weight: 600;
  position: relative;
  transition: all 300ms;
}
.nav__links > li:nth-child(3) {
  font-size: 14px;
  font-weight: 600;
  position: relative;
  transition: all 300ms;
}
.nav__links > li:nth-child(4) {
  font-size: 14px;
  font-weight: 600;
  position: relative;
  transition: all 300ms;
}
.nav__links > li:nth-child(5) {
  font-size: 14px;
  font-weight: 600;
  position: relative;
  transition: all 300ms;
}
.nav__link:hover {
text-decoration: underline; 
cursor: pointer;
}
.nav__link--primary {
  border-radius: 250px;
  color:white;
  background-color: rgba(80, 17, 204);
  line-height: 1.5;
  font-size: 14px;
  padding: 10px 32px;
  margin-top: 2px;
  border-radius: 9999px;
  color: #fff;
  background-color: #6415ff;
  line-height: 1.5;
  }
  .nav__link--wrapper {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.35px;
    border-bottom: 2px solid transparent;
    transition: all 300ms;
}
.nav__logo {
  width: 40px;
  height: 40px;
}
.nav__logo--text {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.5;
  margin-left: 12px;
  padding-bottom: 2px;
  letter-spacing: 0.6px;
}
/*------------------------------
--------------------------------
----------------HEADER----------
--------------------------------
-------------------------------*/
.header {
  padding: 96px 0;
  max-width: 1280px;
  margin: 0 auto;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 0 32px;
}
.header__design--img {
  width: 100%;
}
.header__design--img > img:nth-child(1) {
  width: 100%;
}
.header__right {
  padding-left: 48px;
  width: 60%;
}
.header__row--row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*! padding: 35px 8px 36px 0; */
}
.header__left {
  width: 45%;
  padding-left: 36px;
}
.header__description {
  font-size: 48px;
  font-weight: 700;
  color: #1a202c;
  width: 100%;
}
.subheader {
  font-size: 18px;
  line-height: 1.5;
  color: #243e63;
  margin: 32px 0;
}
.input-wrapper {
  width: 100%;
  max-width: 448px;
  height: 68px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.input-wrapper input {
  width: 100%;
  border-radius: 500px;
  border: 2px solid rgb(229, 231, 235);
  padding: 20px 192px 20px 32px;
  color: rgb(36, 62, 99);
  font-size: 16px;
  font-weight: 500;
  position: absolute;
}
.input-wrapper button {
  position: absolute;
  right: 5px;
  /*! top: 50%; */
  /*! transform: translateY(-50%); */
  /*! border: none; */
  color: #fff;
  border-radius: 250px;
  cursor: pointer;
  height: calc(100% - 16px);
  padding: 6px 12px;
  background-color: #6415ff;
  font-weight: 700;
  font-size: 16px;
}
.header__customers--text {
  margin-top: 80px;
  color: #a0aec0;
  font-size: 12px;
  font-weight: 700;
  }
    .header__customers {
      margin-top: 80px;
      color: #a0aec0;
      font-size: 12px;
      font-weight: 700;
    }
    .header__customers--logo__img > img:nth-child(1) {
      width: 100%;
      margin-top: 16px;
      padding-right: 128px;
      opacity: 0.5;
    }
/*-----------------------
----------------------------
-------------FEATURES-------
----------------------------
--------------------------*/
#features {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
.features__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.features__container {
  padding: 96px 0;
}
.feature__title {
  font-size: 48px;
  font-weight: 900;
  color: rgb(36, 62, 99);
  line-height: 1.5;
  margin: 16px 0;
  letter-spacing: 0.025em;
}
h3.feature__title {
  text-align: center;
}
.features__intro {
 font-size: 16px;
  color: #6415ff;
  letter-spacing: 1.6px;
  font-weight: 700;
  text-transform: uppercase;
}
.features__subtitle {
  /*! color: black; */
  align-content: center;
  text-align: center;
  padding: 24px;
  color: #7c8ba1;
  line-height: 1.625;
  max-width: 576px;
    }
    .features__grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-top: 40px;
    }
    .feature__icon {
      display: flex;
      align-items: center;
      padding: 20px;
      /*! border: 1px solid #e5e7eb; */
      border-radius: 250px;
    }
    .feature__description {
      color: rgb(124, 139, 161);
      display: flex;
      flex-direction: column;
    }
  div.feature__card:nth-child(1) {
    align-items: flex-start;
    padding: 32px 24px;
    }
    div.feature__card:nth-child(1),
    div.feature__card:nth-child(2),
    div.feature__card:nth-child(3),
    div.feature__card:nth-child(4),
    div.feature__card:nth-child(5),
    div.feature__card:nth-child(6) {
      display: flex;
      margin-top: 8px;
      margin-left: 16px;
    }
   div.feature__card:nth-child(1) > div:nth-child(2) > h4:nth-child(1) {
    display: flex;
    font-size: 1.5em;
    font-weight: bold;
    color: #243e63;
}
div.feature__card:nth-child(2) > div:nth-child(2) > h4:nth-child(1),
div.feature__card:nth-child(3) > div:nth-child(2) > h4:nth-child(1),
div.feature__card:nth-child(4) > div:nth-child(2) > h4:nth-child(1),
div.feature__card:nth-child(5) > div:nth-child(2) > h4:nth-child(1),
div.feature__card:nth-child(6) > div:nth-child(2) > h4:nth-child(1) {
  display: flex;
  font-size: 1.5em;
  font-weight: bold;
}
div.feature__card:nth-child(1) > div:nth-child(1) > img:nth-child(1),
div.feature__card:nth-child(2) > div:nth-child(1) > img:nth-child(1),
div.feature__card:nth-child(3) > div:nth-child(1) > img:nth-child(1),
div.feature__card:nth-child(4) > div:nth-child(1) > img:nth-child(1),
div.feature__card:nth-child(5) > div:nth-child(1) > img:nth-child(1),
div.feature__card:nth-child(6) > div:nth-child(1) > img:nth-child(1) {
  display: flex;
  padding: 20px;
  border: 1px solid #e5e7eb;
  border-radius: 500px;
}
/*-----------------------------
------------------------------
-------QUALITY WORK-----------
------------------------------
----------------------------*/
#quality__work {
  display: flex;
  padding: 96px 32px;
}
.quality__work--img {
  border-radius: 4px;
  border: 1px solid rgb(229, 231, 235);
  position: relative;
  margin: 0 56px;
  width: 45%;
}
.quality__work--container {
  width: 50%;
  margin-right: 64px;
}
.quality__work--img ,
.quality__work--img > img:nth-child(1) {
  width: 100%;
}
.quality__work--intro {
font-size: 16px;
font-weight: 900;
padding: 4px;
margin: 8px auto;
align-items: start;
justify-content: start;
display: flex;
}
.quality__work--title {
  font-size: 44px;
   font-weight: 850;
   color: rgb(36, 62, 99);
   line-height: 1.25;
   margin: 16px 0;
   letter-spacing: 0.025em;
 }
.quality__work--description {
  align-content: center;
  font-size: 18px;
  /*! padding: 24px; */
  color: #7c8ba1;
}
.quality__work--button {
  margin-left: 12px;
  display: flex;
  background-color: #6415ff;
  padding: 12px 32px;
  border: none;
  border-radius: 500px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  transition: all 300ms ease;
  cursor: pointer;
}
/*---------------------------
-----------------------------
------------STEPS------------
-----------------------------
---------------------------*/
#steps {
  padding: 0 32px;
  padding: 96px 0;
  width: 60%;
}
.step {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  margin-top: 32px;
}
.steps__container--row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  gap: 30px;
}
.steps__subtitle {
  font-size: 16px;
  color: #6415ff;
  letter-spacing: 1.6px;
  font-weight: 700;
  text-transform: uppercase;
}
.steps__subtitle > span:nth-child(1) {
  margin-right: 90%;
}
.steps__right {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}
.steps__title {
  font-size: 48px;
  font-weight: 900;
  color: rgb(36, 62, 99);
  line-height: 1.5;
  margin: 16px 0;
  letter-spacing: 0.025em;
}
.steps__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
}
.steps__img--wrapper > img:nth-child(1) {
  width: 100%;
}
.step__number {
  color: #cbd5e0;
  font-size: 36px;
  font-weight: 600;
  line-height: 1;
}
.step__text h3 {
  margin-bottom: 5px;
}
.step__text p {
  color: rgba(0, 0, 0, 0.801);
}
div.step:nth-child(1) > div:nth-child(2) > h4:nth-child(1) {
  font-weight: 600;
  font-size: 20px;
  color: #243e63;
  line-height: 1;
}
div.step:nth-child(2) > div:nth-child(2) > h4:nth-child(1) {
  font-weight: 600;
  font-size: 20px;
  color: #243e63;
  line-height: 1;
}
div.step:nth-child(3) > div:nth-child(2) > h4:nth-child(1) {
  font-weight: 600;
  font-size: 20px;
  color: #243e63;
  line-height: 1;
}
div.step:nth-child(3) > div:nth-child(2) > p:nth-child(2) {
  font-size: 14px;
  color: #718096;
  margin-top: 12px;
  font-weight: 500;
  line-height: 2;
}
div.step:nth-child(2) > div:nth-child(2) > p:nth-child(2) {
  font-size: 14px;
  color: #718096;
  margin-top: 12px;
  font-weight: 500;
  line-height: 2;
}
div.step:nth-child(1) > div:nth-child(2) > p:nth-child(2) {
  font-size: 14px;
  color: #718096;
  margin-top: 12px;
  font-weight: 500;
  line-height: 2;
}
/*---------------------------
-----------------------------
--------------VALUE----------
-----------------------------
---------------------------*/
#value {
  padding: 96px 96px;
}

.value__row {
  width: 60%;
  }
.value__container--row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.value__img--wrapper {
  width: 45%;
}
.value__img--wrapper > img:nth-child(1) {
  width: 100%;
  margin: 24px;
}
.value__content {
  width: 60%;
}
 .value__intro {
      font-size: 16px;
      margin-left: unset;
    }
    .value__title {
      align-content: space-between;
      font-size: 48px;
      font-weight: 900;
      color: rgb(36, 62, 99);
      line-height: 1.5;
      margin: 16px 0;
      margin-top: 16px;
      margin-bottom: 16px;
      letter-spacing: 0.025em;
    }
    .value__description {
      margin-bottom: 30px;
      font-size: 18px;
      font-weight: 500;
      color: #7c8ba1;
      line-height: 1.625;
    }
    .value__cards {
      display: flex;
      margin-bottom: 30px;
      justify-content: space-around;
      gap: 80px;
    }
    .value__card {
      /*! flex-direction: column; */
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 36px;
      /*! height: 36px; */
    }
    .value__icon {
      display: flex;
      align-items: center;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 36px;
      height: 36px;
    }
    .value__button {
      background-color: #6415ff;
      padding: 12px 32px;
      border-radius: 500px;
      font-size: 14px;
      color: #fff;
      font-weight: bold;
      transition: all 300ms ease;
      cursor: pointer;
      margin-top: 48px;
    }
      .value__img--icon--2 {
        background-color: #feb2b2;
        width: 20px;
        height: 20px;
                   }
      .value__img--icon {
        width: 24px;
  height: 24px;
  fill: none;
  stroke: currentcolor;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
      }
      div.value__card:nth-child(1) > div:nth-child(1) {
        background-color: #9ae6b4;
    }
    div.value__card:nth-child(1) > div:nth-child(2) > h2:nth-child(1) {
      margin-left: 12px;
      font-size: 20px;
      font-weight: bold;
      color: #243e63;
  }
  div.value__card:nth-child(2) > div:nth-child(2) > h3:nth-child(1) {
    margin-left: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #243e63;
}
div.value__card:nth-child(2) > div:nth-child(2) > p:nth-child(2) {
  margin-top: 16px;
  line-height: 1.625;
  color: #718096;
}
div.value__card:nth-child(1) > div:nth-child(2) > p:nth-child(2) {
  margin-top: 16px;
  line-height: 1.625;
  color: #718096;
}
    /*-----------------------
    -------------------------
    ----------PRICING--------
    -------------------------
    -----------------------*/
    #pricing {
      padding: 96px 96px;
  }
  .pricing__container {
    padding: 96px 0;
}
 .pricing__row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
 .pricing_top {
     display: flex;
    justify-content: space-between;
    align-items: center;
    }
    .pricing__intro {
      font-size: 16px;
      color: #6415ff;
      letter-spacing: 1.6px;
      font-weight: 700;
      display: flex;
      justify-content: center;
    }
    .pricing__middle {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    margin: 12px;
    align-items: center;
     }
     .pricing__bottom {
      align-items: center;
      display: flex;
      transition: all 300ms ease;
      font-size: 0.875rem;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      justify-content: center;
      margin-top: 48px;
      margin-left: 56px;
      margin-right: 56px;
      }
    .pricing__title {
      font-size: 48px;
      font-weight: 900;
      align-items: center;
      display: flex;
      justify-content: center;
      color: rgb(36, 62, 99);
      line-height: 1.5;
      margin: 16px 0;
      letter-spacing: 0.025em;
    }
    .pricing__description {
      font-size: 18px;
      font-weight: 500;
      color: #7c8ba1;
      line-height: 1.625;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .pricing__cards {
    /*! width: 100%; */
      position: relative;
      margin-top: 4rem;
      display: flex;
      padding-left: 2rem;
      padding-top: 0.5rem;
      text-align: center;
    color: rgb(26 32 44);
    max-width: 1280px;
    margin: 0 auto;
    gap: 32px;
    }
    h4.pricing__plan:nth-child(1) {
      font-size: 20px;
      color: #f7fafc;
  }
   h4.pricing__plan:nth-child(2) {
      color: #1a202c;
      font-size: 20px;
  }
  h4.pricing__plan:nth-child(3) {
    color: #1a202c;
    font-size: 20px;
}
.pricing__card--1 {
    width: 50%;
    border: 2px solid rgba(199, 196, 206, 0.692);
    border-radius: 20px;
}
  .pricing__card--1__divider--line {
    border-top: 2px solid rgb(229, 231, 235);
    border-bottom: 2px solid rgb(229, 231, 235);
      }
 div.pricing__middle:nth-child(6) {
    align-content: center;
    justify-content: center;
    }
    div.pricing__middle:nth-child(7) > p:nth-child(1) {
      color: #1a202c;
      font-size: 20px;
      font-weight: 700;
      line-height: 1.5;
      letter-spacing: 0.025em;
  }
  div.pricing__bottom:nth-child(9) {
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 250px;
}
.pricing__card--1__strip {
      width: 100%;
      height: 0.5rem;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      color: #f7fafc;
      background: linear-gradient( 115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100% );
    }
    .pricing__button--1 {
      color: #f7fafc;
      background: linear-gradient( 115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100% );
      margin: 24px;
      border-radius: 250px;
      width: 200px;
      height: 42px;
      }
      .pricing__card--1 > div:nth-child(1) {
        display: flex;
        flex-direction: column;
        /*! padding-top: 2rem; */padding-bottom: 2rem;
    }
    .pricing__card--1 > div:nth-child(2) > p:nth-child(1) {
      font-weight: 700;
  }
  .pricing__card--1 > div:nth-child(3) > p:nth-child(1) {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.025em;
    color: #1a202c;
}
.pricing__card--2 {
  background: linear-gradient( 135deg, rgb(77, 81, 163) 0%, rgb(102, 126, 234) 100% );
  color: #fff;
  padding: 8px 16px;
  width: 50%;
  }
    .pricing__card--2 > div:nth-child(1) {
      color: white;
      padding: 8px;
    }
    .pricing__card--2 > div:nth-child(3) > p:nth-child(1) {
      color: #f7fafc;
      font-size: 20px;
      font-weight: 700;
      line-height: 1.5;
      letter-spacing: 0.025em;
  }
  .pricing__card--2 > div:nth-child(3) > ul:nth-child(2) {
    color: #f7fafc;
}
.pricing__card--2 > div:nth-child(5) {
  color: #6415ff;
  background-color: #f7fafc;
  border: none;
  border-radius: 250px;
  font-weight: 900;
}
.pricing__card--2__divider--line-bottom  {
     height: 2px;
     width: 100%;
     margin-bottom: 12px;
     margin-top: 12px;
     background: linear-gradient( 135deg, rgb(191, 193, 235) 0%, rgb(102, 126, 234) 100% );
 
    }
   .pricing__card--2__divider--line-top {
      /*! height: 2px; */
      /*! width: 100%; */
      /*! margin-bottom: 12px; */
      /*! margin-top: 12px; */
      /*! background: linear-gradient( 135deg, rgb(119, 121, 161) 0%, rgb(102, 126, 234) 100% ); */
      border-top: 2px solid rgb(102, 126, 234);
      border-bottom: 2px solid rgb(102, 126, 234);
      }
      .pricing__button--2 {
        color: #6415ff;
        background-color: #f7fafc;
        margin: 12px;
        border-radius: 500px;
        width: 200px;
        border: none;
    }
     .pricing__card--3 {
        width: 50%;
        align-content: center;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        border: 2px solid rgba(199, 196, 206, 0.692);
        border-radius: 20px;
      }
    .pricing__card--3__strip { 
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      background: linear-gradient( 115deg, rgb(219, 68, 68) 0%, rgb(254, 178, 178) 100% );
      height: 12px;
      width: 100%;
     }
     .pricing__button--3 {
      color: #f7fafc;
      background: linear-gradient( 115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100% );
      padding: 8px;
      border-radius: 250px;
      font-size: 16px;
      align-items: center;
      display: flex;
      justify-content: center;
      margin: 24px;
      width: 100%;
      text-align: center;
    }
    div.pricing__bottom:nth-child(7) {
      margin: 16px 0 auto;
    }
    .pricing__card--3__divider--line {
      background: linear-gradient( 135deg, rgb(191, 193, 235) 0%, rgb(102, 126, 234) 100% );
      border-top: 2px solid rgb(229, 231, 235);
      border-bottom: 2px solid rgb(229, 231, 235);
     }
     .pricing__plan {
      display: flex;
      flex-direction: column;
      padding-top: 2rem;
      padding-bottom: 2rem;
       }
       .pricing__price {
        display: flex;
        justify-content: center;
        font-weight: bold;
        line-height: 1.625;
        font-size: 48px;
        /*! margin: 4px 0; */
      }
    .pricing__duration {
      /*! display: flex; */
      /*! justify-content: center; */
      font-size: 16px;
      letter-spacing: 0.1em;
      font-weight: bold;
      line-height: 1.625;
      /*! margin-bottom: 12px; */
      color: #a0aec0;
    }
    p.pricing__duration:nth-child(3) {
      color: #f7fafc;
  }
  .pricing__features {
      list-style: none;
      margin-top: 20px;
      font-weight: 500;
      color: #718096;
      font-size: 16px;
      line-height: 2.5;
      letter-spacing: 0.025em;
    }
    .pricing__button {
      padding: 12px 20px;
      border-radius: 6px;
      cursor: pointer;
      font-size: 12px;
    }
    /*------------------------------
    --------------------------------
    -----------TESTIMONIALS---------
    --------------------------------
    ------------------------------*/
    #testimonials {
      padding: 96px 96px;
    }
    .testimonials__container {
      padding-top: 6rem;
      padding-bottom: 6rem;
  }
  .testimonials__img {
      width: 100%;
    }
    .testimonials__row {
      margin-left: auto;
      margin-right: auto;
      max-width: 1280px;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  .testimonials__left {
    width: 100%;
    padding: 32px;
  }
  .testimonials__intro {
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
    /*! align-items: center; */
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}
   .testimonials__img > img:nth-child(1) {
      width: 100%;
    }
    .testimonials__content {
      width: 60%;
      padding: 32px;
  }
.testimonials__title {
        font-size: 48px;
        font-weight: 900;
        align-content: center;
        margin-bottom: 24px;
        line-height: 1.25;
        letter-spacing: 0.025em;
      }
      .testimonials__stars {
        margin-bottom: 20px;
        color: rgb(248, 173, 81);
        margin-right: 2px;
        margin-top: 4px;
        height: 12px;
      }
    .testimonials__summary,
    .testimonials__review {
      margin-bottom: 20px;
      font-size: 18px;
      font-weight: 500;
      color: #7c8ba1;
      line-height: 1.625;
    }
    .testimonials__customer {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .customers__experience {
      color: #4a5568;
      line-height: 1.625;
      margin-top: 1rem;
      font-size: 1.25rem;
      font-weight: 700;
    }
    .customer__img {
      border-radius: 100%;
      display: flex;
    }
    .customer__img > img:nth-child(1) {
      border-radius: 50%;
      width: 30%;
    }
    .customer__role {
      color: #7c8ba1;
      font-weight: 500;
      line-height: 1.5;
  }
   /*--------------------------
    ----------------------------
    ---------SIGN UP------------
    ----------------------------
    --------------------------*/
    #sign-up {
      padding: 96px 96px;
      width: 100%;
      max-width: 1280px;
      margin: 0 auto;
    }
  #sign-up .row {
        position: relative;
        overflow: hidden;
    }
    .sign-up__container {
      background: #6415ff;
      color: #fff;
      padding: 0 32px;
      display: flex;
      align-items: center;
      height: 270px;
    }
    .sign-up__title {
      color: #f7fafc;
      font-size: 30px;
      font-weight: 700;
      line-height: 1.5;
      width: 50%;
     }
     .sign-up__buttons {
      /*! margin-top: 45px; */
      width: 50%;
    }
    .sign-up__button--primary {
      background: #f56565;
      padding: 20px 40px;
      border-radius: 500px;
      font-weight: 700;
      font-size: 16px;
      color: #f7fafc;
      line-height: 1.5;
      margin: 56px;
      margin-right: 32px;
    }
    .sign-up__button--secondary {
      background: #6415ff;
      padding: 20px 40px;
      border-radius: 500px;
      font-weight: 700;
      font-size: 16px;
      color: #f7fafc;
      line-height: 1.5;
      margin: 1px;
    }
    button.sign-up__button:nth-child(2) {
      border: 1px solid rgb(160, 174, 192);
      transition: all 300ms ease;
  }
    /*-----------------------------
    -------------------------------
    ---------------FOOTER----------
    ------------------------------
    -----------------------------*/
    #footer {
      display: flex;
      flex-direction: column;
      color: white;
      background-color: rgb(100, 21, 255);
      padding: 12px 96px;
      }
      .footer__row {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .footer__container {
      display: flex;
      align-items: center;
      padding: 96px 0;
      background-color: rgb(100, 21, 255);
    }
    .footer__bottom {
      display: flex;
      color: white;
      justify-content: space-between;
      align-items: center;
    }
    div.footer__column:nth-child(1) {
      color: #f7fafc;
      font-size: 14px;
      line-height: 1.5;
  }
  div.footer__column:nth-child(1),
    div.footer__column:nth-child(2),
    div.footer__column:nth-child(3),
    div.footer__column:nth-child(4),
    div.footer__column:nth-child(5) {
      padding: 12px;
      justify-content: space-between;
      margin-top: 48px;
      display: flex;
      flex-direction: column;
    }
    div.footer__column:nth-child(1) > h3:nth-child(1) {
      font-weight: 700;
      color: #f7fafc;
      line-height: 1.5;
      padding: 12px;
  }
   div.footer__column:nth-child(2) > h3:nth-child(1) {
    font-weight: 700;
    color: #f7fafc;
    line-height: 1.5;
}
div.footer__column:nth-child(3) > h3:nth-child(1) {
  font-weight: 700;
  color: #f7fafc;
  line-height: 1.5;
}
div.footer__column:nth-child(4) > h3:nth-child(1) {
  font-weight: 700;
  color: #f7fafc;
  line-height: 1.5;
}
div.footer__column:nth-child(5) > h3:nth-child(1) {
  font-weight: 700;
  color: #f7fafc;
  line-height: 1.5;
}
.footer__column--anchor {
  color: #f7fafc;
  margin-top: 12px;
  line-height: 1.5;
  cursor: pointer;
  list-style: none;
  text-decoration: none;
   }
       .footer__columns {
        margin-top: -48px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        font-weight: 700;
        color: #f7fafc;
        line-height: 1.5;
      }
    .footer__logo {
      width: 15%;
      display: flex;
        }
        .footer__logo--name {
          color: white;
          display: flex;
          flex-direction: column;
          font-size: 20px;
          color: #f7fafc;
          font-weight: 900;
          margin-left: 8px;
          letter-spacing: 0.05em;
        }
        .footer__logo > img:nth-child(1) {
          height: 32px;
          width: 32px;
      }
       .footer__divider--line {
          width: 100%;
          height: 2px;
          margin: 64px 0;
          border-top: 1px solid rgb(107, 75, 155);
          border-bottom: 1px solid rgba(57, 7, 99, 0.64);
        }
        .footer__social--links {
          /*! display: block ruby; */
          margin-left: 16px;
          padding: 8px;
          background: #f7fafc;
          display: flex;
          justify-content: center;
          border-radius: 50%;
          cursor: pointer;
          transition: all 300ms ease;
                }
    /*-------------------------------
    ---------------------------------
    -------@MEDIA 1024---------------
    ---------------------------------
    -------------------------------*/
    @media (max-width: 1024px) {
      .btn__menu {
        display: contents;
      }
      .nav__link--wrapper {
        display: none;
      }

      .quality__work--row,
      .steps__left,
      .value__row,
      .testimonials__row,
      .pricing__cards {
        flex-direction: column;
        text-align: center;
        flex-wrap: wrap;
        display: flex;
      }
     .header__description{
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
     .header__row--row {
          flex-direction: column;
          align-items: center;
        }

      .header__left {
        width:90%;
        text-align: center;
      }
 .header__right {
width:90%;

 }
 .features__grid {
          grid-template-columns: repeat(2, 1fr);
          color: white;
        }
          #quality__work {
            align-content: center;
            flex-direction: column;
          }
                .quality__work--container {
                  text-align: center;
                  width: 100%;
                  margin: 0 auto;
                  padding: 32px;
                }
                .quality__work--img {
                  width: 100%;
                  margin: 0 auto;
                  padding: 32px;
                }
                .steps__container--row{
      flex-direction: column;
      align-items: center;
      display: flex;
    }            
  .steps__right {
    text-align: center;
    width: 100%;}
.value__content {
width: 100%;
text-align: center;
 }
 .value__container--row {
  flex-direction: column;
      align-items: center;
      display: flex;}
.value__img--wrapper {
  width: 100%;
  ;
}
 .footer__columns {
            flex-direction: column;
            gap: 40px;
            text-align: center;
            color: white;
        }
      }
     /*--------------------------
    ----------------------------
    ---------@MEDIA 768---------
    ----------------------------
    --------------------------*/
    @media (max-width: 768px) {
 div.feature__card:nth-child(1),
 div.feature__card:nth-child(2),
  div.feature__card:nth-child(3),
 div.feature__card:nth-child(4),
 div.feature__card:nth-child(5),
 div.feature__card:nth-child(6) {
display: contents;
font-size: larger;
text-align: center;
}
.quality__description, .quality__img--wrapper, .steps__description, .steps__img--wrapper, .values__description, .values__img, .testimonials__description, .testimonials__img {
  width: 100%;
  max-width: 448px;
}


 .nav__links {
 display: none;
   }
.input-wrapper input,
.input-wrapper__button {
 width: 100%;
 border-radius: 500px;
 }
.input-wrapper__button {
 margin-top: 10px;
 }
.header__description {
font-size: 36px;
 }
 .header__input {
  flex-direction: column;
   }
 .features__grid {
grid-template-columns: repeat(1, 1fr);
justify-content: space-between;
align-content: center;
display: grid;
text-align: center;
}
.feature__icon {
 flex-direction: unset;
    }
  .quality__work--row {
 flex-direction: column;
   }
   #quality .row, #values .row {
    flex-direction: column-reverse;
  }
 .steps__container--row {
 display: flex;
 justify-content: space-between;
 flex-direction: column;
 }
 .steps__left,
.testimonials__row {
flex-direction: column;
align-items: center;
display: flex;
justify-content: space-between;
 }
 .steps__list {
 align-content: center;
 }
.value__row {
 flex-direction: column-reverse;
  }
.value__container--row {
 flex-direction: column;
 display: flex;
 }
.value__content {
display: flex; 
align-items: center;
flex-direction: column;
   }
 .pricing__row {
   margin-top: 40px;
}
.sign-up__container {
flex-direction: column;
}
.sign-up__buttons {
  flex-direction: column;
}
.footer__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
   }
    /*-----------------------------
    -------------------------------
    ---------@MEDIA 640------------
    -----------------------------*/
    @media (max-width: 640px) {
      body {
      overflow-x: hidden;
      display: flex;
      flex-wrap: wrap;
      margin-top: 36px;
      align-items: center;
     }
     main {
      margin-bottom: 80px;
      }
    .container {
          padding: 80px 0;
      }
.nav__logo {
        margin: 8px 0;
        padding-bottom: 4px;
        width: 48px;
    }
 h3.feature__title {
              font-size: 24px;
              }
    }
