@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0 auto;
  box-sizing: border-box;
  font-family: 'Inter', system-ui;
  width: fit-content;
  align-content: center;
}
html {
  padding: 32px;

}
body {
  display: flex;
  flex-wrap: wrap;
  margin-top: 36px;
  max-width: 1200px;
}
.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.purple {
  color: #6415ff;
}

.row__narrow {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
.container {
  padding: 96px 0;
}

.btn__menu {
  background-color: transparent;
  font-size: 40px;
  text-align: center;
  border: none;
}

.menu__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
justify-content: center;
align-items: center;
border-color: #242424;
display:none;
}
.menu--open .menu__backdrop {
  display: flex;
}
.menu__links {
flex-direction: column;
align-items: center;
display: none;
}
.menu__list {
  padding: 32px 0;
}
.menu__link {
  font-size: 40px;
  color: white;
}


.btn__menu--close {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 8px;
  cursor: pointer;
color: white;
}
.landing__flex--container {
width: 100%;
  display: flex;
  justify-content: space-between;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__row {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: inherit;
  align-items: center;
}
.nav__link--anchor {
  margin-left: 90px;
  cursor: pointer;
 display: flex;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
}
.nav__links {
  display: flex;
  list-style: none;
  text-decoration: none;
  justify-content: space-between;
  align-items: end;
}
.nav__link {
  padding: 4px;
  text-decoration: none;
  margin: 2px 4px;
}

.nav__link:hover {
  text-decoration: underline; 
cursor: pointer;
}

.nav__link--primary {
  border: 2px solid #7f7b86;
  border-radius: 6px;
  background-color: #6f36df;
color:rgb(240, 226, 226);
}

.nav__logo--wrapper {
   width: 20%;
   display: flex;
   margin-left: 36px;
   align-items: center;
  justify-content: flex-start;
 }

 .nav__logo {
  width: 48px;
 display: flex;
  justify-content: initial;
  align-items: center;
  padding: 4px;
}
.nav__logo--text {
  font-size: 28px;
  font-weight: bolder;
  line-height: 1.5;
}

.nav__links > li:nth-child(1),
.nav__links > li:nth-child(2),
.nav__links > li:nth-child(2) > a:nth-child(1),
.nav__links > li:nth-child(3),
.nav__links > li:nth-child(4) > a:nth-child(1),
.nav__links > li:nth-child(5) > a:nth-child(1),
.nav__links > li:nth-child(6) 
 {margin-right: 8px;}
/*------------------------------
--------------------------------
----------------HEADER----------
--------------------------------
-------------------------------*/


.header__container {
  display: flex;
  justify-content: space-between;
  padding: 32px 24px;

}
.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 8px 36px 0;
}
.header__left {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.header__description {
  font-size: 36px;
  font-weight: 700;
}
.header__description > span:nth-child(1) {
  display: contents;
}


.subheader {
  align-content: center;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 1.5;
}
  
.header__input {
  display: flex;
  border: 1px solid rgb(229, 231,235);
color: #fff;
  font-weight: 700;
  transition: all 300ms ease;
  justify-content: space-between;
}
.input__email--button {
  color: #e7dfe9;
  cursor: pointer;
  font-weight: 600;
  background-color: #6415ff;
  font-size: 14px;

  border-radius: 40%;
}
.header__customers--text {
 align-items: start;
  display: flex;
}
.header__customers {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-direction: column;
}
.header__customers--logo__img {
  width: 100%;
}

.header__customers--logo__img > img:nth-child(1) {
  width: 50%;
}

.header__design--img {
  width: 100%;
}
.header__design--img > img:nth-child(1) {
  width: 100%;
}

.header__right {
  width: 100%;
}
